table { 
    border: 1px solid;
    background:rgb(106, 255, 126);
    border-radius:10px;
    overflow:hidden;
    max-width:700px; 
    width:100%;
    margin:0 auto;
}
td,th { padding-left:8px}


thead tr{ 
    height:60px;
    background:#FFED86;
    font-size:16px;
  }
  tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
  }
body{ 
    font:400 14px 'Calibri','Arial';
    padding:20px;
  }
  
  blockquote {
    color:white;
    text-align:center;
  }
  .plus-button-img {
    width: 30px;
  }